    body {
        background-color: beige;
    }
    
    .miTabla td,
    th {
        border: 1px solid black;
    }
    
    .nav-item {
        font-size: x-large;
    }
    
    .Azul source {
        align-items: center;
    }
    
    .Roja source {
        align-items: center;
    }
    
    .Verde source {
        align-items: center;
    }
    
    .productos {
        display: inline-flex;
        justify-content: space-around;
        align-content: space-between;
    }
    
    button {
        position: relative;
        background-color: #2bd264;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        padding: 20px;
        width: 200px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    
    button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    
    @media screen and (max-width: 800px) {
        body {
            background-color: brown;
            flex-direction: column;
        }
    }
    
    @media screen and (min-width: 601px) and (max-width: 800px) {
        body {
            background-color: green;
        }
    }
    
    @media screen and (max-width: 455px) {
        body {
            width: 100%;
        }
        section h1 {
            font-size: 24px;
        }
    }
    
    .nav-link {
        color: darkgreen;
        background-color: gold;
        border-radius: 10px;
        border: 1px solid;
    }
    
    .form-vertical {
        background-color: greenyellow;
    }